:root {
  --small-font: 1rem;
  --medium-font: 1.5rem;
  --large-font: 2rem;
  --jumbo-font: 3.5rem;
  --green-color: rgb(165, 235, 165);
  --blue-color: deepskyblue;
  --yellow-color: rgb(198, 204, 24);
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#game-board {
  width: 200vmin;
  height: 100vmin;
  background-color: var(--green-color);
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(52, 1fr);
}

.wall {
  background-color: grey;
  border: 0.25vmin solid black;
}

.score {
  position: absolute;
  top: 93vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.eagle {
  width: 100%;
  height: auto;
}

.snake-head {
  width: 100%;
  height: auto;
}

.snake-body {
  width: 100%;
  height: auto;
}

.apple {
  width: 100%;
  height: auto;
}

.game-over h1,
p,
button {
  margin: 5px;
}

.boost-left {
  position: absolute;
  top: 93vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.snake-lenght {
  position: absolute;
  top: 93vh;
  left: 88vw;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#info-btn {
  position: absolute;
  top: 7vh;
  left: 9vw;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

#level-btn {
  position: absolute;
  top: 7vh;
  left: 91vw;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.pause-page {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--blue-color);
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.info-page,
.game-over,
.level-page {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--blue-color);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.info-page ul {
  text-align: start;
  list-style-type: none;
}

.info-page ul li,
.game-over p {
  margin: 10px;
}

#menu-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--green-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("img/menu_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: var(--jumbo-font);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  color: var(--yellow-color);
  text-shadow: 5px 5px 15px black;
  margin: 10vh 10px 20vh 10px;
  position: absolute;
  top: 10%;
}

.menu-btn {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.menu-btn input {
  font-size: var(--medium-font);
  border: none;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--yellow-color);
  color: white;
}

.char-page {
  background-color: var(--blue-color);
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50vh;
  left: 50vw;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 40px;
  height: auto;
}

.char-choose-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0%, -50%);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0%, -50%);
}

.select-char-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: var(--medium-font);
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

#play-btn {
  width: 10vw;
  height: auto;
  align-self: center;
  margin: 10px;
}

#menu-snake {
  width: 15vw;
  height: auto;
  position: absolute;
  left: 20%;
  bottom: 8%;
}

#menu-highscore {
  color: black;
  font-size: var(--large-font);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 10%;
  font-weight: bold;
}

#audio-btn {
  width: 7vw;
  height: auto;
  position: absolute;
  right: 7%;
  bottom: 7%;
}

#eagle-menu {
  position: relative;
  top: 2vh;
  /* left: 0%; */
  width: 40vw;
  height: auto;
  -webkit-animation: eagleMove 15s linear infinite;
  animation: eagleMove 15s linear infinite;
}

@-webkit-keyframes eagleMove {
  from {
    left: -250%;
  }
  to {
    left: 60%;
  }
}

@keyframes eagleMove {
  from {
    left: -250%;
  }
  to {
    left: 60%;
  }
}
