* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#game-board {
  width: 200vmin;
  height: 100vmin;
  background-color: rgb(165, 235, 165);
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(52, 1fr);
}

.wall {
  background-color: grey;
  border: 0.25vmin solid black;
}

.score {
  position: absolute;
  top: 93vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: deepskyblue;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.eagle {
  width: 100%;
  height: auto;
}

.snake-head {
  width: 100%;
  height: auto;
}

.snake-body {
  width: 100%;
  height: auto;
}

.apple {
  width: 100%;
  height: auto;
}

.game-over h1,
p,
button {
  margin: 5px;
}

.boost-left {
  position: absolute;
  top: 93vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  background-color: deepskyblue;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.snake-lenght {
  position: absolute;
  top: 93vh;
  left: 88vw;
  transform: translate(-50%, -50%);
  background-color: deepskyblue;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#info-btn {
  position: absolute;
  top: 7vh;
  left: 9vw;
  transform: translate(-50%, -50%);
  background-color: deepskyblue;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

#level-btn {
  position: absolute;
  top: 7vh;
  left: 91vw;
  transform: translate(-50%, -50%);
  background-color: deepskyblue;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.info-page,
.pause-page,
.game-over,
.level-page {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: deepskyblue;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.info-page ul {
  text-align: start;
  list-style-type: none;
}

.info-page ul li,
.game-over p {
  margin: 10px;
}

/* .snake {
  background-color: yellow;
  border: 0.25vmin solid black;
}

.apple {
  background-color: red;
  border: 0.25vmin solid black;
} */
